<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2>Пост не может быть сохранен. Ошибок : <%= pluralize(post.errors.count, "") %> </h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Заголовок %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :Содержание %>
    <%= form.text_field :body %>
  </div>

  <div class="actions">
    <%= form.submit "Применить"%>
  </div>
<% end %>
