<p id="notice"><%= notice %></p>

<h1>Новостной блог</h1>

<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Содержание</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Показать', post %></td>
          <% if current_admin.amin_role?%>
            <td><%= link_to 'Редактировать', edit_post_path(post) %></td>
            <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены, что хотите удалить этот пост?' } %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if admin_signed_in? && current_admin.amin_role? %>
<%= link_to 'Новый пост', new_post_path %>
<% end %>
