<p id="notice"><%= notice %></p>

<p>
  <strong>Заголовок:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Содержание:</strong>
  <%= @post.body %>
</p>

<%= link_to 'Редактировать', edit_post_path(@post) %> |
<%= link_to 'Назад', posts_path %>
