<h2>Изменение пароля</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "admins/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :Пароль, "Новый пароль" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> символов минимум)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Подтверждение_пароля, "Подтвердите новый пароль" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Изменить пароль" %>
  </div>
<% end %>

<%= render "admins/shared/links" %>
